 <!-- login.component.html -->
<div class="mat-dialog-container">
  <div class="card">
    <div class="card-header   text-white text-center" style="background-color:  #75b1f1;">
      <h4 class="mb-0">
        <mat-icon style="color: white; font-size: 2rem;">how_to_reg</mat-icon> Iniciar Sesión
      </h4>
    </div>
    <div class="card-body">

      <form  [formGroup]="formLogin" (ngSubmit)="onSubmit()">


        <div class="form-group" style="margin-bottom: 5%;">

          <input type="text" formControlName="username" class="form-control" id="username" placeholder="Ingrese su correo electrónico" name="username" required>
          <div class="error" *ngIf="formLogin.get('username')?.touched && formLogin.get('username')?.hasError('required')">El correo electrónico es requerido.</div>
          <div  class="error" *ngIf="formLogin.get('username')?.touched && formLogin.get('username')?.hasError('email')">Formato de email inválido.</div>

        </div>
        <div class="form-group" style="margin-bottom: 7%;">

          <input formControlName="pass" type="password" class="form-control" id="password" placeholder="Ingrese su contraseña"   name="password" required>
          <div class="error" *ngIf="formLogin.get('pass')?.touched && formLogin.get('pass')?.hasError('required')">El campo es requerido.</div>
          <div *ngIf="formLogin.get('pass')?.touched && formLogin.get('pass')?.hasError('havespace')">No puedes ingresar solo espacios en blanco.</div>
        </div>


        <div style="display: grid;place-items: center; margin-bottom:3px ; ">
          <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-block"  >Iniciar Sesión</button>
        </div>

        <div class=" text-center">
          <a (click)=" openRecovery()" >Recuperar acceso</a>
        </div>

      </form>
    </div>
    <div class="card-footer text-center">
      ¿No tienes cuenta? <a href="#">Regístrate aquí</a>
    </div>
  </div>
</div>


