 <!-- login.component.html -->
 <div class="mat-dialog-container">
  <div class="card">
    <div class="card-header   text-white text-center" style="background-color:  black;">
      <h4 class="mb-0">
        <mat-icon style="color: white; font-size: 2rem;">how_to_reg</mat-icon> Recuperar acceso
      </h4>
    </div>
    <div class="card-body">

      <form [formGroup]="formRecovery" (ngSubmit)="onSubmit()">


        <div class="form-group" style="margin-bottom: 5%;">

          <input type="text" formControlName="username" class="form-control" id="username" placeholder="Ingrese su correo electrónico" name="username" required>
          <div class="error" *ngIf="formRecovery.get('username')?.touched && formRecovery.get('username')?.hasError('required')">El correo electrónico es requerido.</div>
          <div  class="error" *ngIf="formRecovery.get('username')?.touched && formRecovery.get('username')?.hasError('email')">Formato de email inválido.</div>

        </div>
        <div class="form-group" style="margin-bottom: 7%;">

          <input type="number"  formControlName="dni" class="form-control" id="password" placeholder="Ingrese su número de identificación"   name="password" required>
          <div class="error" *ngIf="formRecovery.get('dni')?.touched && formRecovery.get('dni')?.hasError('required')">El campo es requerido.</div>
        </div>

        <div style="display: grid;place-items: center; margin-bottom:3px ; ">
          <button [disabled]="!formRecovery.valid" type="submit" class="btn   btn-block">Recuperar</button>
        </div>


      </form>
    </div>

  </div>
</div>
