button{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  background-color: black;
  color: white;
}

button:hover{
  border: 2px solid #75b1f1;
  background-color: white;
  color: black;
}
.error{
  color: red;
}
.card-header {
  border: none;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
