button{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  background-color: #75b1f1;
  color: white;
}

button:hover{
  border: 2px solid #75b1f1;
  background-color: white;
  color: black;
}
.error{
  color: red;
}
